In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from statsmodels.tsa.seasonal import seasonal_decompose

In [2]:
filename = "NoSaleDateHouses.pkl"
seed = 0

In [3]:
f = open(filename,"rb")
df = pickle.load(f)
X_feats = pickle.load(f)
Y_col = pickle.load(f)
f.close()

In [4]:
df.head()

,AYB,EYB,GBA,LANDAREA,LATITUDE,LONGITUDE,STYLE_1.5 Story Fin,STYLE_1.5 Story Unfin,STYLE_2 Story,STYLE_2.5 Story Fin,...,WARD_Ward 3,WARD_Ward 4,WARD_Ward 5,WARD_Ward 6,WARD_Ward 7,WARD_Ward 8,QUADRANT_NW,QUADRANT_SE,QUADRANT_SW,PRICE
0,1910.0,1972,2522.0,1680,38.914680,-77.040832,0,0,0,0,...,0,0,0,0,0,0,1,0,0,True
1,1910.0,1984,2522.0,1680,38.914684,-77.040678,0,0,0,0,...,0,0,0,0,0,0,1,0,0,True
2,1900.0,1984,2484.0,1680,38.914683,-77.040629,0,0,0,0,...,0,0,0,0,0,0,1,0,0,True
3,1913.0,1972,5344.0,2196,38.914331,-77.039715,0,0,0,0,...,0,0,0,0,0,0,1,0,0,True
4,1906.0,1972,2401.0,1627,38.915408,-77.040129,0,0,0,0,...,0,0,0,0,0,0,1,0,0,True

In [5]:
df[X_feats].head()

,AYB,EYB,GBA,LANDAREA,LATITUDE,LONGITUDE,STYLE_1.5 Story Fin,STYLE_1.5 Story Unfin,STYLE_2 Story,STYLE_2.5 Story Fin,...,WARD_Ward 2,WARD_Ward 3,WARD_Ward 4,WARD_Ward 5,WARD_Ward 6,WARD_Ward 7,WARD_Ward 8,QUADRANT_NW,QUADRANT_SE,QUADRANT_SW
0,1910.0,1972,2522.0,1680,38.914680,-77.040832,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,1910.0,1984,2522.0,1680,38.914684,-77.040678,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
2,1900.0,1984,2484.0,1680,38.914683,-77.040629,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,1913.0,1972,5344.0,2196,38.914331,-77.039715,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
4,1906.0,1972,2401.0,1627,38.915408,-77.040129,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [9]:
y = df[Y_col]

In [10]:
X = df[X_feats]
for col in X.columns:
    X[col] = (X[col] - min(X[col]))/(max(X[col]) - min(X[col]))

/home/sean/Code/incoming/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=seed)

In [17]:
y_train.max()

True

In [23]:
X_train_fill = X_train.fillna(0)
X_test_fill = X

In [24]:
logreg = LogisticRegression(fit_intercept = False, C = 1e12, solver='lbfgs')
model_log = logreg.fit(X_train_fill, y_train)
model_log

/home/sean/Code/incoming/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

LogisticRegression(C=1000000000000.0, class_weight=None, dual=False,
          fit_intercept=False, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=None,
          solver='lbfgs', tol=0.0001, verbose=0, warm_start=False)

In [25]:
y_hat_prob = logreg.predict_proba(X_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
y_hat_prob[:20]

In [ ]:
y_test.head(20)

In [ ]:
loglike = 0
for i, tf in enumerate(y_test):
    if tf:
        loglike += np.log(y_hat_prob[i][1])
    else:
        loglike += np.log(y_hat_prob[i][0])
print(loglike)

In [ ]:
k = len(X_feats)
print(k)

In [ ]:
AIC = 2*k - 2*loglike
print(AIC)

In [338]:
lowest_AIC = 6247.723291471